#content #product-page #product-presentation {
    margin-left:167px;
	margin-right:167px;
	margin-top:20px;
}
#content #product-page nav ul, #content #article #product-page nav ul {
	text-align: left;
	margin-top: 3px;
	margin-bottom: -10px;
	left: 0px;
}

#content #product-page nav ul li, #content #article #product-page nav ul li  {
	display: inline;
	margin: 10px 10px 10px 10px;
}

#content #product-page nav ul li a, #content #article #product-page nav ul li a {
	font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	
	/*text-transform: uppercase;
*/	
	
	color: black;
	opacity: 0.4;
}

#content #article #product-page nav ul li a img{
	opacity: 0.4;
}

#content #product-page nav ul li a:hover {
	opacity: 0.8;
	text-decoration:none;
}

#content #product-page nav ul li a:hover img{
	opacity: 0.8;
	text-decoration:none;
}

#content #product-page nav ul li a#locally-current {
	opacity: 1.0;
}

#content #product-page h1, h2 {
	font-family:"Segoe UI Light", "Segoe WP Light","Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	word-wrap: break-word;
	font-weight: normal;
}
#content #product-page h2.unwrapped {
	margin-left: 15px;
}

#content #product-page h1 {
	
	font-size: 45px;
	line-height:150%;
	
	color: #636468;
}

#content #product-page h2 {
	font-family:"Segoe UI Light", "Segoe WP Light","Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:normal;
	color: #2c2c2c;
	font-size: 35px;
	line-height: 150%;
}

#product-page section h2 {
	text-align: center;
	line-height: 160%;
	color: #2c2c2c;
	margin-bottom: 35px;
	margin-left: 0px;
	padding: 0 0 0 0;

}

#product-page .column-box {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 313.333333px;
}

#product-page section h3 {
	font-family:"Segoe UI Light", "Segoe WP Light","Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: 27px;
	color: #1a1a1a;
	margin-left: 0px;
	padding: 0 0 0 0;	
}

#product-page h3 {
	font-family:"Segoe UI Light", "Segoe WP Light","Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: 27px;
	color: #1a1a1a;
	margin-left:13px;
	line-height:120%;
}

#product-page .column-box p {
	color: #636468;
	font-family: "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#product-page .column-box img {
	margin: 0;
	padding: 0;
}

#product-page a.learn-more {
	font-family: "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	font-weight:bold;
	
	line-height: 22px;
	height: 24px;
	text-align:left;
	
	color:#2F2D2E;
}

#product-page a.learn-more:hover {
	color: #00B0F0;
	text-decoration: none;
}

#product-page a.learn-more i {
	background-image:url('../EventStudio/images/icon-arrow-right-coolgrey11.png');
	margin-left: 6px;
	display: inline-block;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: left top;
	vertical-align: middle;
	zoom: 1;
	
}

#product-page a.learn-more:hover i {
	background-image:url('../EventStudio/images/icon-arrow-right-cyan.png');
}

#product-page p#product-name {
	font-family: "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	text-transform:uppercase;
}


#product-page .column-box-2 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 480px;
}

#product-page .column-box-2 h3 {
	font-family:"Segoe UI Light", "Segoe WP Light","Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: 27px;
	color: #1a1a1a;
	margin-bottom: 10px;
	padding: 0;
}

#product-page .column-box-2 p {
	color: #636468;
	font-family: "Segoe UI Semilight", "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	margin-bottom: 20.8px;
	padding: 0;
}

#product-page p.intro {
	color: #636468;
	font-family: "Segoe UI Semilight", "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	margin-bottom: 20.8px;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
}

#product-page p.intro a {
	font-family: "Segoe UI Semilight", "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
}

#product-page p a
{
	font-family: "Segoe UI Semilight", "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
}

#product-page .column-box-2 img {
	margin: 0;
	padding: 0;
}

#mini-quotes {
	cursor:pointer;
}
#quotes blockquote, #mini-quotes blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	margin: 0.25em 40px;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

#quotes blockquote p, #mini-quotes blockquote p {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	color: #383838;
}

#quotes blockquote:before, #mini-quotes blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}


#quotes blockquote cite, #mini-quotes blockquote cite {
	color: #999999;
	font-size: 20px;
	display: block;
	margin-top: 5px;
}

#quotes blockquote cite:before, #mini-quotes blockquote cite:before  {
	content: "\2014 \2009";
}

/****************************************************/
